[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.8.1"
jsonschema = "==4.6.1"
multidict = "==6.0.2"
pydantic = "==1.9.1"
PyYAML = "==6.0"

[dev-packages]
pytest = "==7.1.2"
pytest-aiohttp = "==1.0.4"
pytest-cov = "==3.0.0"
pytest-mock = "==3.8.1"
pytest-flake8 = "==1.1.1"
pytest-mypy = "==0.9.1"
pytest-isort = "==3.0.0"
types_PyYAML = "==6.0.9"
