[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]

async-timeout = "==3.0.1"
attrs = "==19.3.0"
aiohttp = "==3.6.2"
aiohttp-jinja2 = "==1.2.0"
PyYAML = "==5.3"
jsonschema = "==3.2.0"
yarl = "==1.4.2"


[dev-packages]

flake8 = "==3.7.9"
pytest = "==5.3.5"
pytest-aiohttp = "==0.3.0"
pytest-cov = "==2.8.1"
pytest-mock = "==2.0.0"
pytest-pep8 = "==1.0.6"
pytest-flake8 = "==1.0.4"
pytest-codestyle = "==2.0.0"
pytest-mypy = "==0.4.2"
isort = "==4.3.21"


[requires]

python_version = "3.6"
